* {
    box-sizing: border-box;
}

body {
    
    
    
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    
}

.header {
    border: 1px solid red;
}

.main {
    border: 1px solid red;
}

.footer {
    border: 1px solid red;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    list-style-type: none;
    margin-left: 500px;
    padding-left: 0;
}

  .nav-list li {
    display: inline;
  }